<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>

    * {
        box-sizing: border-box;
    }

    .workout {
        width: 50%;
        height: 200px;
        margin: 50px auto;
        padding-top: 75px;
        background: rgb(190, 186, 186);
        text-align: center;
        color: black;
        font-size: 3em;
    }

</style>



<body>
<h1 style="text-align: center; padding: 10px;">View workouts page</h1>

<div class="workout">1</div>
<div class="workout">1</div>
<div class="workout">1</div>
<div class="workout">1</div>
<div class="workout">1</div>
<div class="workout">1</div>
<div class="workout">1</div>



</body>
</html>