<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>

    * {
        box-sizing: border-box;
    }

    .workout {
        display: grid;
        grid-template-rows: 4;
        grid-template-columns: 5;
        width: 50%;
        height: 200px;
        margin: 50px auto;
        padding-top: 75px;
        background: rgb(190, 186, 186);
        color: black;
    }

</style>



<body>
<h1 style="text-align: center; padding: 10px;">View workouts page</h1>

<div class="workout">
<!--    <h1 style="text-align: center; position: relative; top:-75%;">Title</h1>-->
    <p style="grid-column: 3;">Exercise x 10kg x (3)</p>
</div>
<div class="workout">
    <h1 style="text-align: center; position: relative; top:-75%;">Title</h1>
</div>
<div class="workout">
    <h1 style="text-align: center; position: relative; top:-75%;">Title</h1>
</div>
<div class="workout">
    <h1 style="text-align: center; position: relative; top:-75%;">Title</h1>
</div>
<div class="workout">
    <h1 style="text-align: center; position: relative; top:-75%;">Title</h1>
</div>
<div class="workout">
    <h1 style="text-align: center; position: relative; top:-75%;">Title</h1>
</div>
<div class="workout">
    <h1 style="text-align: center; position: relative; top:-75%;">Title</h1>
</div>
<div class="workout">
    <h1 style="text-align: center; position: relative; top:-75%;">Title</h1>
</div>




</body>
</html>